<!doctype html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="album.css" />

    <title>Document</title>
</head>
<body>

<h1> The Best Albums</h1>
<main>


<div th:each=" AlbumModel : ${albumzz}"  class="album">
    <p> Title : <span th:text ="${AlbumModel.title}"></span></p>
    <p> Artist  : <span th:text ="${AlbumModel.artist }"></span></p>
    <p> Number OF Song : <span th:text ="${AlbumModel.songCount}"></span></p>
    <p> length  : <span th:text ="${AlbumModel.length }"></span></p>
    <img th:src="${AlbumModel.imageUrl}"  src="https://upload.wikimedia.org/wikipedia/en/thumb/4/43/Queen_II_%28album_cover%29.jpg/220px-Queen_II_%28album_cover%29.jpg"/>
</div>


</main>


</body>
</html>